'scopeName': 'source.regexp.perl6'
'name': 'Regular Expressions (Perl 6)'
'fileTypes': []
'patterns': [
  'include': '#regexp'
]
'repository':
  'regexp':
    'patterns': [
      {
        'begin': '(^[ \\t]+)?(?=#)'
        'beginCaptures':
          '1':
            'name': 'punctuation.whitespace.comment.leading.perl6'
        'end': '(?!\\G)'
        'patterns': [
          {
            'begin': '#'
            'beginCaptures':
              '0':
                'name': 'punctuation.definition.comment.perl6'
            'end': '\\n'
            'name': 'comment.line.number-sign.perl6'
          }
        ]
      }
      {
        'include': '#re_strings'
      }
      {
        'match': '\\\\[dDhHnNsStTvVwW]'
        'name': 'constant.character.escape.class.regexp.perl6'
      }
      {
        'match': ':\\w+'
        'name': 'entity.name.section.adverb.perl6'
      }
      {
        'match': '\\^\\^|(?<!\\.)\\^(?!\\.)|\\$\\$|\\$(?!\\d|<)|<<|>>'
        'name': 'entity.name.section.boundary.regexp.perl6'
      }
      {
        'match': '(?<!\\\\)\\$\\d'
        'name': 'keyword.other.special-method.match.variable.numbered.perlt6e'
      }
      {
        'match': '(\\$)(\\<)(\\w+)(\\>)\\s*(=)'
        'captures':
          '1':
            'name': 'variable.other.identifier.sigil.regexp.perl6'
          '2':
            'name': 'support.class.match.name.delimiter.regexp.perl6'
          '3':
            'name': 'variable.other.identifier.regexp.perl6'
          '4':
            'name': 'support.class.match.name.delimiter.regexp.perl6'
          '5':
            'name': 'storage.modifier.match.assignment.regexp.perl6'
        'name': 'meta.match.variable.perl6'
      }
      {
        'begin': '(\\<(?:\\?|\\!)\\{)'
        'beginCaptures':
          '1':
            'name': 'punctuation.section.embedded.begin.perl6'
        'end': '(\\}\\>)'
        'endCaptures':
          '1':
            'name': 'punctuation.section.embedded.end.perl6'
        'patterns': [
          'include': 'source.perl6'
        ]
        'name': 'meta.interpolation.perl6'
      }
      {
        'begin': '(?!\\\\)<'
        'beginCaptures':
          '0':
            'name': 'punctuation.delimiter.property.regexp.perl6'
        'end': '>'
        'endCaptures':
          '0':
            'name': 'punctuation.delimiter.property.regexp.perl6'
        'name': 'meta.property.regexp.perl6'
        'patterns': [
          {
            'include': '#re_strings'
          }
          {
            'begin': '(\\?|\\!)(before|after)\\s+'
            'beginCaptures':
              '1':
                'name': 'keyword.operator.negativity.perl6'
              '2':
                'name': 'entity.name.section.assertion.perl6'
            'end': '(?=>)'
            'name': 'meta.assertion.lookaround.perl6'
            'patterns': [
              {
                'include': '#regexp'
              }
            ]
          }
          {
            'match': '(\\w+)(=)'
            'captures':
              '1':
                'name': 'entity.name.function.capturename.perl6'
              '2':
                'name': 'storage.modifier.capture.assignment.perl6'
            'name': 'meta.capture.assignment.perl6'
          }
          {
            'match': '(:)(\\w+)'
            'captures':
              '1':
                'name': 'punctuation.definition.property.regexp.perl6'
              '2':
                'name': 'variable.other.identifier.property.regexp.perl6'
            'name': 'meta.property.name.regexp.perl6'
          }
          {
            'match': '[+|&\\-^]'
            'name': 'keyword.operator.property.regexp.perl6'
          }
          {
            'begin': '\\['
            'end': '\\]'
            'contentName': 'constant.character.custom.property.regexp.perl6'
            'patterns': [
              {
                'match': '(?<!\\\\)\\\\\\]'
                'name': 'constant.character.custom.property.regexp.perl6'
              }
            ]
          }
          {
            'match': '\\.\\w+\\b'
            'name': 'comment.suppressed.capture.property.regexp.perl6'
          }
          {
            'match': '\\b\\w+\\b'
            'name': 'variable.other.identifier.regexname.perl6'
          }
          {
            'begin': '(?<=\\w)\\('
            'end': '\\)'
            'name': 'meta.rule.signature.perl6'
            'patterns': [
              {
                'include': 'source.perl6'
              }
            ]
          }
        ]
      }
      {
        'match': '(?<=\\.\\.)\\*'
        'name': 'variable.other.identifier.whatever.regexp.perl6'
      }
      {
        'match': '\\+|\\*\\*|\\*|\\?|%|\\.\\.|\\.|(?<=\\.\\.|\\s|\\d)\\^'
        'name': 'keyword.operator.quantifiers.regexp.perl6'
      }
      {
        'match': '(?<!\\\\)\\|{1,2}'
        'name': 'support.function.alternation.regexp.perl6'
      }
    ]
  're_strings':
    'patterns': [
      {
        'begin': '(?<!\\\\)\\\''
        'end': '(?<=\\\\\\\\)\\\'|(?<!\\\\)\\\''
        'name': 'string.literal.perl6'
      }
      {
        'begin': '(?<!\\\\)‘'
        'end': '(?<=\\\\\\\\)\\\’|(?<!\\\\)’'
        'name': 'string.literal.perl6'
        'patterns': [
          {
            'include': 'source.perl6#q_left_single_right_single_string_content'
          }
        ]
      }
      ## #49 FIXME shouldn't be string literal, should use interpolation
      {
        'begin': '(?<!\\\\)\\\"'
        'end': '(?<=\\\\\\\\)\\\"|(?<!\\\\)\\\"'
        'name': 'string.literal.perl6'
      }
    ]
