'scopeName': 'source.perl6fe'
'name': 'Perl 6 FE'
'fileTypes': [
  'p6'
  'pl6'
  'pm6'
  't'
]
'patterns': [
  {
    'begin': '^=begin'
    'end': '^=end'
    'name': 'comment.block.perl6fe'
  }
  {
    'begin': '#`\\(',
    'end': '\\)',
    'name': 'comment.multiline.hash-tick.parens.perl6fe'
    'patterns': [
      {
        'begin': '\\('
        'end': '\\)'
        'name': 'comment.internal.parens.perl6fe'
      }
    ]
  }
  {
    'begin': '#`\\[',
    'end': '\\]',
    'name': 'comment.multiline.hash-tick.brackets.perl6fe'
    'patterns': [
      {
        'begin': '\\['
        'end': '\\]'
        'name': 'comment.internal.brackets.perl6fe'
      }
    ]
  }
  {
    'begin': '#`\\{',
    'end': '\\}',
    'name': 'comment.multiline.hash-tick.braces.perl6fe'
    'patterns': [
      {
        'begin': '\\{'
        'end': '\\}'
        'name': 'comment.internal.braces.perl6fe'
      }
    ]
  }
  {
    'begin': '#`\\「',
    'end': '\\」',
    'name': 'comment.multiline.hash-tick.perl6fe'
    'patterns': [
      {
        'begin': '\\「'
        'end': '\\」'
        'name': 'comment.internal.parens.perl6fe'
      }
    ]
  }
  {
    'begin': '(^[ \\t]+)?(?=#)'
    'beginCaptures':
      '1':
        'name': 'punctuation.whitespace.comment.leading.perl6fe'
    'end': '(?!\\G)'
    'patterns': [
      {
        'begin': '#'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.comment.perl6fe'
        'end': '\\n'
        'name': 'comment.line.number-sign.perl6fe'
      }
    ]
  }
  {
    'captures':
      '1':
        'name': 'storage.type.class.perl6fe'
      '3':
        'name': 'entity.name.type.class.perl6fe'
    'match': '(?x)
      (class|enum|grammar|knowhow|module|package|role|slang|subset)
      (\\s+)
      (
        (
          (?:::|\')?
          (?:
            ([a-zA-Z_\xc0-\xff\\$])
            ([a-zA-Z0-9_\xc0-\xff\\$]|[\\-\'][a-zA-Z0-9_\xc0-\xff\\$])*
          )
        )+
      )'
    'name': 'meta.class.perl6fe'
  }
  {
    'begin': '(?<=\\W|^)\''
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.perl6fe'
    'end': '\''
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.perl6fe'
    'name': 'string.quoted.single.perl6fe'
    'patterns': [
      {
        'match': '\\\\[\'\\\\]'
        'name': 'constant.character.escape.perl6fe'
      }
    ]
  }
  {
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.perl6fe'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.perl6fe'
    'name': 'string.quoted.double.perl6fe'
    'patterns': [
      {
        'match': '\\\\[abtnfre"\\\\]'
        'name': 'constant.character.escape.perl6fe'
      }
    ]
  }
  {
    'begin': 'q(q|to|heredoc)*\\s*:?(q|to|heredoc)*\\s*/(.+)/'
    'end': '\\3'
    'name': 'string.quoted.single.heredoc.perl6fe'
  }
  {
    'begin': '(q|Q)(x|exec|w|words|ww|quotewords|v|val|q|single|qq|double|s|scalar|a|array|h|hash|f|function|c|closure|b|blackslash|regexp|substr|trans|codes|p|path)*\\s*:?(x|exec|w|words|ww|quotewords|v|val|q|single|qq|double|s|scalar|a|array|h|hash|f|function|c|closure|b|blackslash|regexp|substr|trans|codes|p|path)*\\s*{{'
    'end': '}}'
    'name': 'string.quoted.double.heredoc.brace.perl6fe'
    'patterns': [
      {
        'include': '#qq_brace_string_content'
      }
    ]
  }
  {
    'begin': '(q|Q)(x|exec|w|words|ww|quotewords|v|val|q|single|qq|double|s|scalar|a|array|h|hash|f|function|c|closure|b|blackslash|regexp|substr|trans|codes|p|path)*\\s*:?(x|exec|w|words|ww|quotewords|v|val|q|single|qq|double|s|scalar|a|array|h|hash|f|function|c|closure|b|blackslash|regexp|substr|trans|codes|p|path)*\\s*<<'
    'end': '>>'
    'name': 'string.quoted.double.heredoc.angle.perl6fe'
    'patterns': [
      {
        'include': '#qq_angle_string_content'
      }
    ]
  }
  {
    'begin': '(q|Q)(x|exec|w|words|ww|quotewords|v|val|q|single|qq|double|s|scalar|a|array|h|hash|f|function|c|closure|b|blackslash|regexp|substr|trans|codes|p|path)*\\s*:?(x|exec|w|words|ww|quotewords|v|val|q|single|qq|double|s|scalar|a|array|h|hash|f|function|c|closure|b|blackslash|regexp|substr|trans|codes|p|path)*\\s*\\(\\('
    'end': '\\)\\)'
    'name': 'string.quoted.double.heredoc.paren.perl6fe'
    'patterns': [
      {
        'include': '#qq_paren_string_content'
      }
    ]
  }
  {
    'begin': '(q|Q)(x|exec|w|words|ww|quotewords|v|val|q|single|qq|double|s|scalar|a|array|h|hash|f|function|c|closure|b|blackslash|regexp|substr|trans|codes|p|path)*\\s*:?(x|exec|w|words|ww|quotewords|v|val|q|single|qq|double|s|scalar|a|array|h|hash|f|function|c|closure|b|blackslash|regexp|substr|trans|codes|p|path)*\\s*\\[\\['
    'end': '\\]\\]'
    'name': 'string.quoted.double.heredoc.bracket.perl6fe'
    'patterns': [
      {
        'include': '#qq_bracket_string_content'
      }
    ]
  }
  {
    'begin': '(q|Q)(x|exec|w|words|ww|quotewords|v|val|q|single|qq|double|s|scalar|a|array|h|hash|f|function|c|closure|b|blackslash|regexp|substr|trans|codes|p|path)*\\s*:?(x|exec|w|words|ww|quotewords|v|val|q|single|qq|double|s|scalar|a|array|h|hash|f|function|c|closure|b|blackslash|regexp|substr|trans|codes|p|path)*\\s*{'
    'end': '}'
    'name': 'string.quoted.single.heredoc.brace.perl6fe'
    'patterns': [
      {
        'include': '#qq_brace_string_content'
      }
    ]
  }
  {
    'begin': '(q|Q)(x|exec|w|words|ww|quotewords|v|val|q|single|qq|double|s|scalar|a|array|h|hash|f|function|c|closure|b|blackslash|regexp|substr|trans|codes|p|path)*\\s*:?(x|exec|w|words|ww|quotewords|v|val|q|single|qq|double|s|scalar|a|array|h|hash|f|function|c|closure|b|blackslash|regexp|substr|trans|codes|p|path)*\\s*<'
    'end': '>'
    'name': 'string.quoted.single.heredoc.angle.perl6fe'
    'patterns': [
      {
        'include': '#qq_angle_string_content'
      }
    ]
  }
  {
    'begin': '(q|Q)(x|exec|w|words|ww|quotewords|v|val|q|single|qq|double|s|scalar|a|array|h|hash|f|function|c|closure|b|blackslash|regexp|substr|trans|codes|p|path)*\\s*:?(x|exec|w|words|ww|quotewords|v|val|q|single|qq|double|s|scalar|a|array|h|hash|f|function|c|closure|b|blackslash|regexp|substr|trans|codes|p|path)*\\s*/'
    'end': '/'
    'name': 'string.quoted.single.heredoc.slash.perl6fe'
    'patterns': [
      {
        'include': '#qq_slash_string_content'
      }
    ]
  }
  {
    'begin': '(q|Q)(x|exec|w|words|ww|quotewords|v|val|q|single|qq|double|s|scalar|a|array|h|hash|f|function|c|closure|b|blackslash|regexp|substr|trans|codes|p|path)*\\s*:?(x|exec|w|words|ww|quotewords|v|val|q|single|qq|double|s|scalar|a|array|h|hash|f|function|c|closure|b|blackslash|regexp|substr|trans|codes|p|path)*\\s*\\('
    'end': '\\)'
    'name': 'string.quoted.single.heredoc.paren.perl6fe'
    'patterns': [
      {
        'include': '#qq_paren_string_content'
      }
    ]
  }
  {
    'begin': '(q|Q)(x|exec|w|words|ww|quotewords|v|val|q|single|qq|double|s|scalar|a|array|h|hash|f|function|c|closure|b|blackslash|regexp|substr|trans|codes|p|path)*\\s*:?(x|exec|w|words|ww|quotewords|v|val|q|single|qq|double|s|scalar|a|array|h|hash|f|function|c|closure|b|blackslash|regexp|substr|trans|codes|p|path)*\\s*\\['
    'end': '\\]'
    'name': 'string.quoted.single.heredoc.bracket.perl6fe'
    'patterns': [
      {
        'include': '#qq_bracket_string_content'
      }
    ]
  }
  {
    'begin': '(q|Q)(x|exec|w|words|ww|quotewords|v|val|q|single|qq|double|s|scalar|a|array|h|hash|f|function|c|closure|b|blackslash|regexp|substr|trans|codes|p|path)*\\s*:?(x|exec|w|words|ww|quotewords|v|val|q|single|qq|double|s|scalar|a|array|h|hash|f|function|c|closure|b|blackslash|regexp|substr|trans|codes|p|path)*\\s*\''
    'end': '\''
    'name': 'string.quoted.single.heredoc.single.perl6fe'
    'patterns': [
      {
        'include': '#qq_single_string_content'
      }
    ]
  }
  {
    'begin': '(q|Q)(x|exec|w|words|ww|quotewords|v|val|q|single|qq|double|s|scalar|a|array|h|hash|f|function|c|closure|b|blackslash|regexp|substr|trans|codes|p|path)*\\s*:?(x|exec|w|words|ww|quotewords|v|val|q|single|qq|double|s|scalar|a|array|h|hash|f|function|c|closure|b|blackslash|regexp|substr|trans|codes|p|path)*\\s*"'
    'end': '"'
    'name': 'string.quoted.single.heredoc.double.perl6fe'
    'patterns': [
      {
        'include': '#qq_double_string_content'
      }
    ]
  }
  {
    'begin': '(?<=\\<)(?!\\=)(?=.+\\>)'
    'end': '(?=\\>)'
    'name': 'string.array.words.perl6fe'
  }
  {
    'match': '\\b\\$\\w+\\b'
    'name': 'variable.other.perl6fe'
  }
  {
    'match': '(?x)\\b(?<![\\-:])(
       macro|sub|submethod|method
      |multi|proto|only|rule|token
      |regex|category
    )(?!\\-)\\b'
    'name': 'storage.type.declare.routine.perl6fe'
  }
  {
    'match': '\\b(?<![\\-:])(self)(?!\\-)\\b'
    'name': 'variable.language.perl6fe'
  }
  {
    'match': '\\b(?<![\\-:])(use|require)(?!\\-)\\b'
    'name': 'keyword.other.include.perl6fe'
  }
  {
    'match': '\\b(?<![\\-:])(if|else|elsif|unless)(?!\\-)\\b'
    'name': 'keyword.control.conditional.perl6fe'
  }
  {
    'match': '\\b(?<![\\-:])(let|my|our|state|temp|has|constant)(?!\\-)\\b'
    'name': 'storage.modifier.declarator.perl6fe'
  }
  {
    'match': '(?<!\\=)=(?=\\s)'
    'name': 'storage.modifier.assignment.perl6fe'
  }
  {
    'match': '\\b(for|loop|repeat|while|until|gather|given)(?!\\-)\\b'
    'name': 'keyword.control.repeat.perl6fe'
  }
  {
    'match': '(?x)\\b(?<![\\-:])(
       take|do|when|next|last|redo|return
      |contend|maybe|defer|default|exit
      |make|continue|break|goto|leave
      |async|lift
    )(?!\\-)\\b'
    'name': 'keyword.control.flowcontrol.perl6fe'
  }
  {
    'match': '(?x)\\b(?<![\\-:])(
      is|as|but|trusts|of|returns|handles|where|augment|supersede
    )(?!\\-)\\b'
    'name': 'storage.modifier.type.constraints.perl6fe'
  }
  {
    'match': '(?x)\\b(?<![\\-:])(
       BEGIN|CHECK|INIT
      |START|FIRST|ENTER
      |LEAVE|KEEP|UNDO
      |NEXT|LAST|PRE
      |POST|END|CATCH
      |CONTROL|TEMP
    )(?!\\-)\\b'
    'name': 'keyword.control.closure.trait.perl6fe'
  }
  {
    'match': '\\b(?<![\\-:])(die|fail|try|warn)(?!\\-)\\b'
    'name': 'keyword.control.control-handlers.perl6fe'
  }
  {
    'match': '(?x)\\b(?<![\\-:])(
       prec|irs|ofs|ors|export|deep
      |binary|unary|reparsed|rw|parsed
      |cached|readonly|defequiv|will
      |ref|copy|inline|tighter|looser
      |equiv|assoc|required
    )(?!\\-)\\b'
    'name': 'storage.modifier.perl6fe'
  }
  {
    'match': '\\b(NaN|Inf)(?!\\-)\\b'
    'name': 'constant.numeric.perl6fe'
  }
  {
    'match': '\\b(True|False)\\b'
    'name': 'constant.language.boolean.perl6fe'
  }
  {
    'match': '\\b(oo|fatal)(?!\\-)\\b'
    'name': 'keyword.other.pragma.perl6fe'
  }
  {
    'match': '(?x)\\b(
      AST|Any|Array|Associative|Attribute|Backtrace|Bag|BagHash|Baggy|
      Blob|Block|Bool|Callable|Capture|Channel|Code|Complex|Cool|
      CurrentThreadScheduler|Cursor|Date|DateTime|Dateish|Duration|
      Enum|Exception|Failure|FatRat|Grammar|Hash|IO|Instant|Iterable|
      Iterator|Junction|Label|List|Lock|Macro|Map|Match|Metamodel|
      Method|Mix|MixHash|Mixy|Mu|Nil|Num|Numeric|ObjAt|Pair|Parameter|
      Pod|Positional|PositionalBindFailover|Proc|Promise|Proxy|
      QuantHash|Range|Rat|Rational|Real|Regex|Routine|Scheduler|Seq|
      Set|SetHash|Setty|Signature|Slip|Stash|Str|Stringy|Sub|
      Submethod|Supply|Tap|Temporal|Thread|ThreadPoolScheduler|
      Variable|Version|Whatever|WhateverCode|

      Int|int|int1|int2|int4|int8|int16|int32|int64|
      Rat|rat|rat1|rat2|rat4|rat8|rat16|rat32|rat64|
      Buf|buf|buf1|buf2|buf4|buf8|buf16|buf32|buf64|
      UInt|uint|uint1|uint2|uint4|uint8|uint16|uint32|uint64|
      utf8|utf16|utf32
    )(?:\\:([DU]))?\\b'
    'captures':
      '1':
        'name': 'support.type.perl6fe'
      '2':
        'name': 'support.class.type.adverb.perl6fe'
  }
  {
    'match': '(?x)\\b(
      div|mod|gcd|lcm|x|xx|temp|let|does|but|cmp|leg|
      eq|ne|gt|ge|lt|le|before|after|eqv|min|max|ff|fff|not|so|Z|X|
      and|andthen|or|orelse
    )\\b'
    'name': 'keyword.operator.word.perl6fe'
  }
  {
    'match': '(<)(=)(>)'
    'captures':
      '1':
        'name': 'keyword.operator.spaceship.perl6fe'
      '2':
        'name': 'keyword.operator.spaceship.perl6fe'
      '3':
        'name': 'keyword.operator.spaceship.perl6fe'
    'name': 'meta.operator.spaceship.perl6fe'
  }
  {
    'match': '(?x) => | -> | \\+\\| | \\+\\+ | -- | \\*\\* |
      (?<!\\?)\\?\\?(?!\\?) | (?<!\\!)\\!\\!(?!\\!) | && |
      \\+\\^ | \\?\\^ | %% | \\+& | \\+< | \\+> | \\+\\^ |
      \\.\\.(?!\\.) | \\.\\.\\^ | \\^\\.\\. | \\^\\.\\.\\^ |
      \\?\\| | == | != | <=(?!>) | >= | === | =:= | ~~ |
      \\|\\| | \\^\\^ | \\/\\/ | := | ::= | \\.\\.\\.'
    'name': 'keyword.operator.multi-symbol.perl6fe'
  }
  {
    'match': '[\\$\\@](?=\\s)|\\$_|\\$\\/|\\$\\!'
    'name': 'keyword.other.special-method.perl6fe'
  }
  {
    'match': '(?<=\\W)\\*(?=\\W)(?![\\$\\@\\%\\=])'
    'name': 'keyword.other.special-method.whatever.perl6fe'
  }
  {
    'match': '(\\$|@|%|&)(\\*|:|!|\\^|~|=|\\?|(<(?=.+>)))?([a-zA-Z_\xc0-\xff\\$])([a-zA-Z0-9_\xc0-\xff\\$]|[\\-\'][a-zA-Z_\xc0-\xff\\$][a-zA-Z0-9_\xc0-\xff\\$])*'
    'name': 'variable.other.identifier.perl6fe'
  }
  {
    'match': '(?x)\\b(?<![\\-:])(
       eager|hyper|substr|index|rindex|grep|map|sort|join|lines|hints
      |chmod|split|reduce|min|max|reverse|truncate|zip|cat|roundrobin
      |classify|first|sum|keys|values|pairs|defined|delete|exists
      |elems|end|kv|any|all|one|wrap|shape|key|value|name|pop|push
      |shift|splice|unshift|floor|ceiling|abs|exp|log|log10|rand|sign
      |sqrt|sin|cos|tan|round|strand|roots|cis|unpolar|polar|atan2
      |pick|chop|p5chop|chomp|p5chomp|lc|lcfirst|uc|ucfirst|capitalize
      |normalize|pack|unpack|quotemeta|comb|samecase|sameaccent|chars
      |nfd|nfc|nfkd|nfkc|printf|sprintf|caller|evalfile|run|runinstead
      |nothing|want|bless|chr|ord|gmtime|time|eof|localtime|gethost
      |getpw|chroot|getlogin|getpeername|kill|fork|wait|perl|graphs
      |codes|bytes|clone|print|open|read|write|readline|say|seek|close
      |opendir|readdir|slurp|spurt|shell|run|pos|fmt|vec|link|unlink
      |symlink|uniq|pair|asin|atan|sec|cosec|cotan|asec|acosec|acotan
      |sinh|cosh|tanh|asinh|done|acos|acosh|atanh|sech|cosech|cotanh
      |sech|acosech|acotanh|asech|ok|nok|plan_ok|dies_ok|lives_ok|skip
      |todo|pass|flunk|force_todo|use_ok|isa_ok|diag|is_deeply|isnt
      |like|skip_rest|unlike|cmp_ok|eval_dies_ok|nok_error
      |eval_lives_ok|approx|is_approx|throws_ok|version_lt|plan|EVAL
      |succ|pred|times|nonce|once|signature|new|connect|operator|undef
      |undefine|sleep|from|to|infix|postfix|prefix|circumfix
      |postcircumfix|minmax|lazy|count|unwrap|getc|pi|e|context|void
      |quasi|body|each|contains|rewinddir|subst|can|isa|flush|arity
      |assuming|rewind|callwith|callsame|nextwith|nextsame|attr
      |eval_elsewhere|none|srand|trim|trim_start|trim_end|lastcall
      |WHAT|WHERE|HOW|WHICH|VAR|WHO|WHENCE|ACCEPTS|REJECTS|not|true
      |iterator|by|re|im|invert|flip|gist|flat|tree|is-prime
      |throws_like|trans
    )(?!\\-)\\b'
    'name': 'support.function.perl6fe'
  }
  {
    'match': '([a-zA-Z_\xc0-\xff\\$])([a-zA-Z0-9_\xc0-\xff\\$]|[\\-\'][a-zA-Z_\xc0-\xff\\$][a-zA-Z0-9_\xc0-\xff\\$])*'
    'name': 'routine.name.perl6fe'
  }
  {
    'match': '[\\^\\%\\+><\\*\\!\\?\\:\\.]'
    'name': 'keyword.operator.generic.perl6fe'
  }
]
'repository':
  'qq_angle_string_content':
    'begin': '<'
    'end': '>'
    'patterns': [
      {
        'include': '#qq_angle_string_content'
      }
    ]
  'qq_brace_string_content':
    'begin': '{'
    'end': '}'
    'patterns': [
      {
        'include': '#qq_brace_string_content'
      }
    ]
  'qq_bracket_string_content':
    'begin': '\\['
    'end': '\\]'
    'patterns': [
      {
        'include': '#qq_bracket_string_content'
      }
    ]
  'qq_double_string_content':
    'begin': '\"'
    'end': '\"'
    'patterns': [
      {
        'include': '#qq_double_string_content'
      }
    ]
  'qq_paren_string_content':
    'begin': '\\('
    'end': '\\)'
    'patterns': [
      {
        'include': '#qq_paren_string_content'
      }
    ]
  'qq_single_string_content':
    'begin': '\''
    'end': '\''
    'patterns': [
      {
        'include': '#qq_single_string_content'
      }
    ]
  'qq_slash_string_content':
    'begin': '\\\\/'
    'end': '\\\\/'
    'patterns': [
      {
        'include': '#qq_slash_string_content'
      }
    ]
